* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    width: 100%;
    background-color: rgba(23,23,23, 0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:  center;
    width: 1180px;
    margin: auto;

}

header a {
    text-decoration: none;
    margin-right: 100px;
    font-size: var(--font-size-14);
    letter-spacing: 1px;
    color: rgba(255,255,255,0.719);
    font-family: Tahoma;

}

.banner-container {
    
    
    height: 100vh;
    background-image: url(free-photo-of-abstract-colorful-sky-over-tree.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    

}
.banner-container .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.left-section {
    width: 600px;
    align-self: flex-start;
}

.left-section h1 {
    margin: 0;
    font-size: 40px;
    color: white;
}

.left-section p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255,255,255.0884);
    margin-top: 18px;
    line-height: 28px;
}

.left-section button {
    color: var(--primary-color);
    background-color: white;
    font-weight: bold;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;


}
.right-section {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 6px rgba(black);

}
.right-section h4 {
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgba(136,136,136);
}

.input-group {
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    position: relative;


}

.input-group label {
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top: 10px;
    transition: 0.5s ease-in-out;
}

.input-group input {
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color: var(--primary-color);
    border-bottom: 1px solid #c9c9c98a;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    color: var(--primary-color);
    top: -10px;
    font-size: 12px;
}

.input-group input:focus ,
.input-group input:valid  {
    border-color: var(--primary-color);
    
}
.submit-section {
    text-align: center;
}

.submit-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;

}

.submit-button:hover {
    box-shadow: 0 3px 6px silver;
}

.section-two {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    
}

.card-container {
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px black;
    overflow: hidden;
    text-align: center;
}

.card-container h1 {
    color: rgb(136,136,136);
}

.image-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: stretch;
    transition: 0.5s ease-in-out;
}



footer {
    text-align: center;
    color: grey;
    padding: 15px;
}

footer span {
    color: var(--primary-color);
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


@media (max-width: 768px) {
   
    .section-two {
        display: table-row;
        justify-content: space-evenly;
        height: 100vh;
        align-items: center;
        
    }
    .container {
        text-decoration: transparent;
    }
   
}




  